@font-face {
    font-family: 'DIN Pro Regular';
    src: url(./fonts/FontsFree-Net-DINPro-1.ttf);
}

@font-face {
    font-family: 'DIN Pro Black';
    src: url(./fonts/DINPro\ Black.otf);
}

@font-face {
    font-family: 'Heaters';
    src: url(./fonts/Heaters.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 1600px;
}

.top-part {
    margin-top: -5px;
}

.top-part .main-img {
    margin-top: -1275px;
    margin-left: -24px;
}

.top-part .title-1 {
    height: 108px;
    font-family: 'Heaters';
    font-size: 85px;
    margin-top: -630px;
    margin-left: 942px;
    color: #A80CAF;
    text-align: left;
}

.top-part .title-2 {
    font-family: 'DIN Pro Black';
    font-size: 101px;
    margin-top: -65px;
    margin-left: 920px;
    font-style: italic;
    text-align: left;
}

.top-part .logos {
    padding-top: 20px;
    margin-left: 814px;
    display: flex;
    align-content: center;
}

.top-part .logos .logo-1 {
    margin-right: 50px;
    height: 42px;
}

.top-part .logos .logo-2 {
    margin-right: 30px;
    height: 42px;
}

.top-part .logos .logo-3 {
    margin-top: 10px;
    margin-right: 40px;
    height: 26px;
}

.top-part .logos .logo-4 {
    margin-top: 8px;
    height: 22px;
}

.top-part .description {
    font-family: 'DIN Pro Regular';
    font-size: 18px;
    text-align: center;
    width: 530px;
    margin-top: 10px;
    margin-left: 824px;
    padding-top: 20px;
    color: #000000;
}

.top-part button {
    height: 45px;
    width: 182px;
    background-color: #7E49C3;
    border: none;
    color: #FFFFFF;
    font-family: 'DIN Pro Black';
    font-size: 18px;
    font-style: italic;
    margin-left: 990px;
    margin-top: 50px;
}

.last-part {
    margin-top: 155px;
}

.last-part .tables-background {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -590px;
}

.last-part .tables-background .background-table-1 {
    margin-right: 10px;
}

.last-part .teams-names {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -520px;
}

.last-part .teams-names .team-name-2 {
    margin-right: 250px;
    margin-left: 250px;
}

.last-part .tables {
    display: flex;
    flex-direction: row;
}

.last-part .table-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    width: 30%;
    margin-left: 130px;
    padding-top: 30px;
}

.last-part .table-1 .list-1, .list-2 {
    color: #FFFFFF;
    list-style: none;
    font-family: 'DIN Pro Black';
    font-size: 20px;
    font-style: italic;
    line-height: 35px;
}

.last-part .table-1 .list-1 {
    text-align: left;
}

.last-part .table-1 .list-1 li {
    border-bottom: 1px solid rgba(112, 112, 112, 0.623);
}

.last-part .table-1 .list-2 {
    text-align: right;
}

.last-part .table-1 .list-2 li {
    border-bottom: 1px solid rgba(112, 112, 112, 0.623);
}

.last-part .table-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    width: 30%;
    margin-left: -55px;
    padding-top: 30px;
}

.last-part .table-2 .list-1, .list-2 {
    color: #FFFFFF;
    list-style: none;
    font-family: 'DIN Pro Black';
    font-size: 20px;
    font-style: italic;
    line-height: 35px;
}

.last-part .table-2 .list-1 {
    text-align: left;
}

.last-part .table-2 .list-1 li {
    border-bottom: 1px solid rgba(112, 112, 112, 0.623);
}

.last-part .table-2 .list-2 {
    text-align: right;
}

.last-part .table-2 .list-2 li {
    border-bottom: 1px solid rgba(112, 112, 112, 0.623);
}

.last-part .table-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    width: 30%;
    margin-left: -40px;
    padding-top: 30px;
}

.last-part .table-3 .list-1, .list-2 {
    color: #FFFFFF;
    list-style: none;
    font-family: 'DIN Pro Black';
    font-size: 20px;
    font-style: italic;
    line-height: 35px;
}

.last-part .table-3 .list-1 {
    text-align: left;
}

.last-part .table-3 .list-1 li {
    border-bottom: 1px solid rgba(112, 112, 112, 0.623);
}

.last-part .table-3 .list-2 {
    text-align: right;
}

.last-part .table-3 .list-2 li {
    border-bottom: 1px solid rgba(112, 112, 112, 0.623);
}

.footer-container {
    height: 196px;
    background-color: #000000;
    margin-top: 180px;
    padding-top: 25px;
}

.footer-container .footer-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-left: 160px;
}

.footer-container .social-net {
    margin-left: 150px;
}

.footer-container .terms {
    color: #FFFFFF;
    font-family: 'DIN Pro Black';
    font-size: 16px;
    font-style: italic;
    display: flex;
    flex-direction: row;
}

.footer-container .terms .terms-1 {
    margin-right: 15px;
}

/** ------------------------------- RESPONSIVE ------------------------------- **/

/*@media (max-width: 720px) {
    .previous-part img{
        width: 100%;
    }

    .top-part .background-img {
        width: 100%;
    }

    .top-part .main-img {
        width: 50%;
        margin-top: -1275px;
    }

    .top-part .title-1 {
        font-size: 50px;
        margin-left: 420px;
        margin-top: -320px;
    }

    .top-part .title-2 {
        font-size: 51px;
        margin-left: 420px;
        margin-top: -80px
    }

    .top-part .logos {
        display: none;
    }

    .top-part .description {
        font-size: 14px;
        width: 265px;
        margin-left: 360px;
        padding-top: 3px;
    }

    .top-part button {
        width: 150px;
        height: 35px;
        margin-left: 412px;
        font-size: 14px;
        margin-top: 20px;
    }

    .last-part {
        margin-top: 30px;
        background: #000000;
    }

    .last-part .tables-background {
        display: block;
        margin-left: 150px;
        height: 100%;
    }

    .last-part .teams-names {
        display: flex;
        flex-direction: column;
    }

    .last-part .teams-names .team-name-1 {
        margin-top: -1000px;
        padding-bottom: 5px;
    }

    .last-part .teams-names .team-name-2 {
        margin-top: 430px;
        padding-bottom: 30px;
    }

    .last-part .teams-names .team-name-3 {
        margin-top: 380px;
    }

    .last-part .tables {
        display: flex;
        flex-direction: column;
    }

    .last-part .table-1 {
        margin-left: 150px;
        margin-top: -1020px;
        width: 60%;
    }

    .last-part .table-2 {
        margin-left: 150px;
        margin-top: 200px;
        width: 60%;
    }

    .last-part .table-3 {
        margin-left: 150px;
        margin-top: 200px;
        width: 60%;
        padding-bottom: 120px;
    }

    .footer-container {
        width: 100%;
        margin-top: 0px;
        padding-bottom: 50px;
    }

    .footer-container .footer-items {
        display: flex;
        flex-direction: column;
        margin-left: 60px;
    }

    .footer-container .footer-items .social-net {
        margin-left: 30px;
        padding-top: 30px;
    }

    .footer-container .footer-items .social-net .instagram {
        width: 25px;
        margin-right: 10px;
    }

    .footer-container .footer-items .social-net .facebook {
        width: 25px;
        margin-right: 10px;
    }

    .footer-container .footer-items .social-net .youtube {
        width: 33px;
    }

    .footer-container .footer-items .terms {
        margin-left: 30px;
        font-size: 14px;
        padding-top: 20px;
    }
}

@media  (max-width: 420px) {
    .previous-part img{
        width: 110%;
        padding: 0;
    }

    .top-part .background-img {
        width: 110%;
    }

    .top-part .main-img {
        width: 50%;
        margin-top: -230px;
    }

    .top-part .title-1 {
        font-size: 33px;
        margin-left: 260px;
        margin-top: -210px;
    }

    .top-part .title-2 {
        font-size: 35px;
        margin-left: 260px;
        margin-top: -90px
    }

    .top-part .description {
        font-size: 11px;
        width: 250px;
        margin-left: 180px;
        margin-top: -80px;
    }

    .top-part button {
        width: 120px;
        height: 25px;
        margin-left: 245px;
        font-size: 12px;
        margin-top: 15px;
    }

    .last-part {
        margin-top: 10px;
        background: #000000;
        width: 100%;
    }

    .last-part .tables-background {
        display: flex;
        flex-direction: column;
        margin-left: 40px;
        margin-top: -650px;
        background-color: #000000;
        width: 100%;
    }

    .last-part .tables-background img {
        width: 85%;
    }

    .last-part .teams-names {
        display: flex;
        flex-direction: column;
    }

    .last-part .teams-names .team-name-1 {
        margin-top: -620px;
    }

    .last-part .teams-names .team-name-2 {
        margin-top: 310px;
        margin-left: 280px;
    }

    .last-part .teams-names .team-name-3 {
        margin-top: 280px;
    }

    .last-part .team-name-1 {
        width: 40%;
    }

    .last-part .team-name-2 {
        width: 40%;
    }

    .last-part .team-name-3 {
        width: 40%;
    }

    .last-part .tables {
        display: flex;
        flex-direction: column;
    }

    .last-part .table-1 .list-1 , .list-2 {
        font-size: 16px;
        line-height: 25px;
    }

    .last-part .table-2 .list-1 , .list-2 {
        font-size: 16px;
        line-height: 25px;
    }

    .last-part .table-3 .list-1 , .list-2 {
        font-size: 16px;
        line-height: 25px;
    }

    .last-part .table-1 {
        margin-left: 60px;
        margin-top: -780px;
        width: 80%;
    }

    .last-part .table-2 {
        margin-left: 60px;
        margin-top: 170px;
        width: 80%;
    }
    
    .last-part .table-3 {
        margin-left: 60px;
        margin-top: 140px;
        width: 80%;
    }

    .footer-container {
        height: 296px;
        background-color: #000000;
        margin-top: 0px;
        padding-top: 25px;
        width: 110%;
    }

    .footer-container .footer-items {
        display: flex;
        flex-direction: column;
        margin-left: 40px;
        margin-top: 80px;
    }

    .footer-container .logo-footer {
        width: 50%;
    }
    
    .footer-container .footer-items .social-net {
        margin-left: 20px;
        padding-top: 20px;
    }

    .footer-container .footer-items .social-net .instagram {
        width: 23px;
        margin-right: 10px;
    }

    .footer-container .footer-items .social-net .facebook {
        width: 23px;
        margin-right: 10px;
    }

    .footer-container .footer-items .social-net .youtube {
        width: 31px;
    }

    .footer-container .footer-items .terms {
        margin-left: 30px;
        font-size: 14px;
        padding-top: 20px;
    }
}*/